<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="true">
    <property name="appName" value="springboot-seckill"/>
    <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/>
    <property name="myPattern" value="%green(%d{yyyy-MM-dd HH:mm:ss.SSS}) %highlight([%thread]-%5p) %boldMagenta(%file:%line) %cyan(%m%n)"/>
    <property name="logger.root" value="logs"/>
    <contextName>${appName}</contextName>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%green(%d{yyyy-MM-dd HH:mm:ss.SSS}) %highlight([%thread]-%5p) %boldMagenta(%file:%line) %cyan(%m%n)</pattern>
        </encoder>
    </appender>
    <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <file>${logger.root}/${appName}-info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logger.root}/${appName}-info.%d{yyyyMMdd}_%i.log</fileNamePattern>
            <maxHistory>100</maxHistory>
            <maxFileSize>100MB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>${myPattern}</pattern>
        </encoder>
    </appender>
    <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <append>true</append>
        <file>${logger.root}/${appName}-error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logger.root}/${appName}-error.%d{yyyyMMdd}_%i.log</fileNamePattern>
            <maxHistory>100</maxHistory>
            <maxFileSize>100MB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>${myPattern}</pattern>
        </encoder>
    </appender>

    <logger name="com.ltri" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="rollingFile"/>
        <appender-ref ref="ERROR_FILE"/>
    </root>
</configuration>